{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/"><img src="{{ asset('/images/location-marker-svgrepo-com.svg') }}" width="30" height="30" class="d-inline-block align-top" alt=""> Travel mate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/coordinate/new">Add new location</a>
                    </li>

                    {% if  is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('coordinate_type_index') }}">Types</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/coordinate">Coordinates</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}