{% extends 'base.html.twig' %}

{% block title %}Edit coordinate{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-4">Edit coordinate</h1>

        {{ include('coordinate/_form.html.twig', {'button_label': 'Update'}) }}

        <a class='btn btn-primary m-3' href="{{ path('coordinate_index') }}">Back to list</a>

        {{ include('coordinate/_delete_form.html.twig') }}
    </div>
{% endblock %}