{% extends 'base.html.twig' %}

{% block title %}Create new coordinate{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-4">Create new coordinate</h1>

        {{ include('coordinate/_form.html.twig') }}

        <a href="{{ path('coordinate_index') }}">Back to list</a>
    </div>
{% endblock %}