{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h1 id="register-header" class="h3 mt-3 mb-1 font-weight-normal" >Registration form</h1>
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
