section ul.waypoints {
    list-style: none;
}

section.main {
    max-width:760px;
    width:100%;
    margin:0 auto
}
section.main h1 {
    font-size:34px;
    font-weight:300;
    line-height:40px;
    text-align:center
}
@media screen and (max-width: 650px) {
    section.main h1 {
        font-size:28px;
        line-height:36px;
        padding:0 50px
    }
}
section.main h1 .fa-map-marker {
    font-size:38px;
    color:#4285f5;
    padding-right:40px
}
@media screen and (max-width: 650px) {
    section.main h1 .fa-map-marker {
        font-size:32px;
        padding-right:20px
    }
}
section.main .intro {
    padding:50px 100px;
    text-align:center
}
@media screen and (max-width: 500px) {
    section.main .intro {
        padding:40px 50px;
        font-size:16px
    }
}
section.main .waypoints {
    padding:20px 100px
}
@media screen and (max-width: 500px) {
    section.main .waypoints {
        padding:20px
    }
}
section.main .waypoints .entry {
    width:100%;
    height:50px;
    margin-bottom:10px
}
section.main .waypoints .entry .wrap {
    float:left;
    width:calc(100% - 80px);
    height:100%;
    background:#fff;
    position:relative
}
@media screen and (max-width: 650px) {
    section.main .waypoints .entry .wrap {
        width:calc(100% - 60px)
    }
}
section.main .waypoints .entry .wrap .fa-map-marker {
    font-size:26px;
    color:#d0d0d0;
    position:absolute;
    top:14px;
    left:18px
}
@media screen and (max-width: 650px) {
    section.main .waypoints .entry .wrap .fa-map-marker {
        font-size:22px;
        top:18px;
        left:8px
    }
}
section.main .waypoints .entry .wrap input {
    width:100%;
    border:0;
    padding:17px 50px 11px 50px;
    border-bottom:1px solid #d0d0d0;
    background:#fff;
    font-size:20px;
    font-weight:300;
    color:#555
}
@media screen and (max-width: 650px) {
    section.main .waypoints .entry .wrap input {
        font-size:16px;
        padding:19px 40px 13px 28px
    }
}
section.main .waypoints .entry .wrap .move {
    font-size:22px;
    color:#d0d0d0;
    position:absolute;
    top:13px;
    right:20px;
    cursor:-webkit-grab;
    cursor:grab;
    display:none
}
section.main .waypoints .entry .wrap .move:active {
    cursor:-webkit-grabbing;
    cursor:grabbing
}
@media screen and (max-width: 650px) {
    section.main .waypoints .entry .wrap .move {
        top:18px;
        right:15px;
        font-size:18px
    }
}
section.main .waypoints .entry button {
    width:50px;
    height:50px;
    border-radius:100px;
    border:0;
    color:#fff;
    font-size:18px;
    font-weight:400;
    float:right;
    padding:0 0 4px 1px;
    -webkit-box-shadow:2px 2px 3px -1px rgba(0,
    0,
    0,
    0.3);
    -moz-box-shadow:2px 2px 3px -1px rgba(0,
    0,
    0,
    0.3);
    box-shadow:2px 2px 3px -1px rgba(0,
    0,
    0,
    0.3);
    -webkit-transition:background .5s ease;
    -moz-transition:background .5s ease;
    -ms-transition:background .5s ease;
    -o-transition:background .5s ease;
    transition:background .5s ease
}
section.main .waypoints .entry button.add {
    background:#4285f5
}
section.main .waypoints .entry button.add:hover {
    background:#4a9ef0
}
section.main .waypoints .entry button.remove {
    background:#ee4a4a;
    display:none
}
section.main .waypoints .entry button.remove:hover {
    background:#ef5b5b
}
.pac-container {
    border-top:0 !important;
    padding:13px 23px 0 23px;
    border-radius:0 !important;
    margin-top:5px
}
.pac-container .pac-item:first-of-type {
    border-top:0 !important
}
.submit {
    width:100%;
    height:auto;
    position:fixed;
    left:0;
    bottom:-200px;
    text-align:center;
    background:#4285f5;
    -webkit-transition:all .8s ease;
    -moz-transition:all .8s ease;
    -ms-transition:all .8s ease;
    -o-transition:all .8s ease;
    transition:all .8s ease;
    z-index:2
}
.submit:hover {
    background:#4a9ef0
}
.submit.visible {
    bottom:0
}
.submit a {
    display:block;
    width:100%;
    padding:40px;
    color:#fff;
    text-decoration:none
}
@media screen and (max-width: 650px) {
    .submit a {
        font-size:16px;
        padding:30px
    }
}
.submit a .fa-location-arrow {
    border:2px solid #fff;
    border-radius:100px;
    margin-right:20px;
    font-size:16px;
    padding:10px 12px
}