<!DOCTYPE html>
<html>
    <body>
        {% block style %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <link rel="stylesheet" type="text/css" href="https://mapped.me/data/assets/css/app.min.css?ver=1.0.7">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        {% endblock %}

        {% if app.request.requestUri == '/'  %}
            {% include 'partials/menu.html.twig' %}
        {% else %}
            {% include 'partials/menu_slim.html.twig' %}
        {% endif %}

        {% block body %}

        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
            <script type="text/javascript" src="https://mapped.me/data/assets/js/jquery-2.1.4.min.js"></script>
            <script type="text/javascript" src="https://mapped.me/data/assets/js/jquery-ui.min.js"></script>
            <script type="text/javascript" src="https://mapped.me/data/assets/js/app.min.js?ver=1.0.7"></script>
        {% endblock %}
    </body>
</html>
