<!DOCTYPE html>
<html>
    <body>
        {% block style %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}

        {% if app.request.requestUri == '/'  %}
            {% include 'partials/menu.html.twig' %}
        {% else %}
            {% include 'partials/menu_slim.html.twig' %}
        {% endif %}

        {% block body %}

        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>