{% extends 'base.html.twig' %}


        {% block body %}

            <div class="jumbotron jumbotron-fluid mb-0">
                <div class="container">
                    <h1 class="display-4">Pasirink kur sustosi</h1>
                    <p class="lead">Tai yra naujas keliavimo būdas. Tapk mūsų nuolat augančios bendruomenės nariu ir pažink keliavimą iš naujo.</p>
                </div>
            </div>

            <div id="googleMap" style="width:100%;height:400px;"></div>



        {% endblock %}